<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="form-container">
        <!-- Login Form -->
        <form id="login-form" action="/login", method="POST">
            <h2>Login</h2>
            <input type="email" id="login-email" name="email" placeholder="Correo electrónico" required>
            <input type="password" id="login-password" name="password" placeholder="Contraseña" required>
            <button type="submit">Ingresar</button>
            <p>¿No estás suscrito? <span id="signup-link" class="link">Sign up</span></p>
            <button type="button" id="home-button" class="home-btn">Continuar sin usuario</button>
        </form>

        <!-- Sign-up Form -->
        <form id="signup-form" style="display: none;">
            <h2>Sign Up</h2>
            <input type="email" id="signup-email" placeholder="Correo electrónico" required>
            <input type="text" id="signup-firstname" placeholder="Nombre" required>
            <input type="text" id="signup-lastname" placeholder="Apellido" required>
            <input type="tel" id="signup-phone" placeholder="Número de teléfono" required>
            <input type="password" id="signup-password" placeholder="Contraseña" required>
            <button type="submit">Registrarse</button>
            <p>¿Ya tienes cuenta? <span id="login-link" class="link">Login</span></p>
        </form>
    </div>
    <script src="/static/js/login.js"></script>
</body>
</html>
